* {
  /* color: antiquewhite; */
}

body {
  background-image: url("https://wallpapers.com/images/featured/school-background-fvzmkdcjswmjz5y7.jpg");
  background-size: 100% auto;
  background-position: center top;
}
